
RomanNumerals/.vs/RomanNumerals/v16/.suo

*.user

RomanNumerals/RomanNumerals/bin/Debug/netcoreapp3.1/cs/

RomanNumerals/RomanNumerals/bin/Debug/netcoreapp3.1/de/

RomanNumerals/RomanNumerals/bin/Debug/netcoreapp3.1/es/

RomanNumerals/RomanNumerals/bin/Debug/netcoreapp3.1/fr/

RomanNumerals/RomanNumerals/bin/Debug/netcoreapp3.1/it/

RomanNumerals/RomanNumerals/bin/Debug/netcoreapp3.1/ja/

RomanNumerals/RomanNumerals/bin/Debug/netcoreapp3.1/ko/

RomanNumerals/RomanNumerals/bin/Debug/netcoreapp3.1/

RomanNumerals/RomanNumerals/obj/Debug/netcoreapp3.1/

RomanNumerals/RomanNumerals/obj/

RomanNumerals/.vs/RomanNumerals/DesignTimeBuild/.dtbcache.v2
